<!-- project\houses\templates\houses\house_form.html -->
{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'houses/css/house_form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="form-container">
  <h2 class="form-title">Add / Edit House</h2>
  
  <form method="POST" enctype="multipart/form-data" class="house-form" id="houseForm">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="image-upload-preview">
      <label>Image Preview:</label>
      <input type="file" name="images" id="id_images" multiple accept="image/*">
      <div id="previewContainer" class="preview-grid"></div>
    </div>

    <button type="submit" class="submit-btn">Save House</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
<script src="{% static 'houses/js/house_form.js' %}"></script>
{% endblock %}