{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/terms.css' %}">
{% endblock %}

{% block content %}

<div class="terms">
    <h1>{% trans "Terms" %}</h1>
    <p>{% trans "We are a company dedicated to providing the best services to our customers." %}</p>
    <h2>{% trans "User Agreement" %}</h2>
    <p>{% trans "By using our website, you agree to the following terms and conditions." %}</p>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'base/js/terms.js' %}" defer></script>
{% endblock %}